@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">COMP3973 Assignment 1</h1>

    <h1>Student Name: Li Qiu</h1>
    <h1>Student ID: A01009812</h1>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
